# Environment variables for game backend
DEV_MODE=true
NODE_ENV=development
GAME_BACKEND_PORT=5010
MONGO_URL_DEV=mongodb://127.0.0.1:27017/tg_betting_bot
MONGO_URL_PROD=mongodb+srv://user:pass@cluster.mongodb.net/db
RPC_NETWORK=https://solana-api.instantnodes.io/token-FkplVBNzBHxexjaAnPajqTAvRuZZWq0o
MINT_ADDRESS_DEV=your_dev_mint_address
MINT_ADDRESS_PROD=your_prod_mint_address
GAME_CLIENT_URL=http://localhost:5173
